.rhulcompsoc {
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, Helvetica Neue, sans-serif;
  line-height: normal;
  letter-spacing: normal;
  box-sizing: border-box;

  .rhulcompsoc-h3 {
    color: #c32126;
    font-size: 24px;
    font-weight: 700;
    font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
      Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    text-transform: uppercase;
    margin-top: unset;
    margin-bottom: unset;
  }

  .rhulcompsoc-h4 {
    color: black;
    font-size: 40px;
    font-weight: 700;
    font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
      Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    letter-spacing: normal;
    text-transform: none;
    line-height: 1;
    margin-top: unset;
    margin-bottom: 0.5em;
  }
}

.rhulcompsoc-buttons {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Montserrat, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.rhulcompsoc-button {
  display: inline-block;

  padding: 1em 3em;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: lowercase;
  text-decoration: none;

  border-width: 5px;
  border-style: solid;
  border-color: grey;
  background-color: grey;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.rhulcompsoc-button-red {
  border-color: #c32126;
  background-color: #c32126;
  color: white;
}
.rhulcompsoc-button-red:hover {
  border-color: #c32126;
  background-color: white;
  color: #c32126;
}

.rhulcompsoc-button-white {
  border-color: #c32126;
  background-color: white;
  color: #c32126;
}
.rhulcompsoc-button-white:hover {
  border-color: #c32126;
  background-color: #c32126;
  color: white;
}

.rhulcompsoc-button-discord {
  border-color: #7289da;
  background-color: #7289da;
  color: white;
}
.rhulcompsoc-button-discord:hover {
  border-color: #7289da;
  background-color: white;
  color: #7289da;
}

.rhulcompsoc-button-hackaway {
  border-color: #eb6824;
  background-color: #eb6824;
  color: white;
}
.rhulcompsoc-button-hackaway:hover {
  border-color: #eb6824;
  background-color: white;
  color: #eb6824;
}

.rhulcompsoc-hackaway-logo {
  height: 10em;
  width: 30em;
  object-fit: contain;
  max-width: 90vw;
}

.rhulcompsoc-section-hackaway {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  color: white;

  min-height: 30vh;
  background-size: cover;
  background-image: linear-gradient(#0009, #0009),
    url("https://su.rhul.ac.uk/asset/Organisation/7306/IMG_3962.blur.jpg");
}
